.content {
    position: absolute;
    left: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .car-image {
      width: 900px;
    height: 70vh;
    position: relative;
    z-index: 1;
    }

    .car-title {
      position: absolute;
      font-size: 14vw;
      color: white;
      z-index: 0;
      left: 3vw;
      top: -3vh;
    }
  }